{% extends 'layout.html' %} 

{% block title %}
<title>首页 - 南京程序员第一社区</title>
{% endblock %} 

{% block stylesheet %}
<link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" />
{% endblock %} 

{% block main %}
<div class="col-xs-12 col-md-9">
<div class="main">

<div class="card">

<div class="nav-tab">
<div class="main-tab">
<i class="icon-live"></i>
<a href="" class="tab-item">正在直播</a>
</div>
</div>


<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">德甲第34轮 拜仁慕尼黑 - 美因茨05</a></li>
  <li><a class="video-tag" href="/">汉堡 - 沙尔克04</a></li>
  <li><a class="video-tag" href="/">法兰克福 - 勒沃库森</a></li>
<li><a class="video-tag" href="/">门兴 - 奥格斯堡</a></li>
</ul>
  </div>
</div>

<div class="feed">
<div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">NBA西部决赛3 火箭 - 勇士</a></li>
<li><a class="video-tag" href="/">NBA东部决赛3 骑士 - 老鹰</a></li>
</ul>
  </div></div>
</div>

<div class="card">

<div class="nav-tab">
<div class="main-tab">
<i class="icon-football"></i>
<a href="" class="tab-item">绿茵精选</a>
</div>
</div>


<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">贵州人和vs上海上港 上港首败</a></li>
  <li><a class="video-tag" href="/">头脑发热！七大最愚蠢红牌下场</a></li>
  <li><a class="video-tag" href="/">真死敌！博卡河床女足比赛暴力犯规</a></li>
<li><a class="video-tag" href="/">石家庄永昌vs杭州绿城</a></li>
<li><a class="video-tag" href="/">可否信服？当今足坛5大中卫</a></li>
<li><a class="video-tag" href="/">戴帽狂人！C罗生涯至今32个帽子合集</a></li>
<li><a class="video-tag" href="/">内维尔分析德佩加盟曼联前景</a></li>
<li><a class="video-tag" href="/">俄罗斯技术最屌的大神-莫斯托沃伊</a></li>
</ul>
  </div>
</div>

<div class="feed">
<div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">安帅：我希望留在皇马</a></li>
<li><a class="video-tag" href="/">穆帅：不该说反切尔西运动</a></li>
<li><a class="video-tag" href="/">范加尔相信德赫亚留队</a></li>
<li><a class="video-tag" href="/">恩里克:维尔马伦将首秀</a></li>
<li><a class="video-tag" href="/">图-一代宗师哈维</a></li>
<li><a class="video-tag" href="/">法国队名单:博格巴领衔</a></li>
<li><a class="video-tag" href="/">卡西：当然希望德赫亚来</a></li>
<li><a class="video-tag" href="/">里皮飞抵广州助阵恒大</a></li>
<li><a class="video-tag" href="/">阿帅：巴萨世界最强队</a></li>
<li><a class="video-tag" href="/">图-哈维巴萨戎马岁月</a></li>
</ul>
  </div></div>
</div>



<div class="card">
<div class="nav-tab">
<div class="main-tab">
<i class="icon-basketball"></i>
<a href="" class="tab-item">篮球动态</a>
</div>
</div>
<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">第一竟是他！NBA历史十大360暴扣</a></li>
  <li><a class="video-tag" href="/">今日五佳球-JR惊艳超级拉杆</a></li>
  <li><a class="video-tag" href="/">老鹰vs骑士2</a></li>
<li><a class="video-tag" href="/">废人？安蒂奇推翻詹姆斯</a></li>
<li><a class="video-tag" href="/">搞笑！老詹活蹦乱跳砸板</a></li>
<li><a class="video-tag" href="/">这球犯规了？汤普森迎面血帽</a></li>
<li><a class="video-tag" href="/">欧文赛季疯狂进攻表演</a></li>
<li><a class="video-tag" href="/">格里芬赛季十大劲爆扣篮</a></li>
<li><a class="video-tag" href="/">小乔丹赛季凶残十佳球</a></li>
<li><a class="video-tag" href="/">科比发推特下季最后一季？</a></li>
<li><a class="video-tag" href="/">NBA神奇逆天进球合辑</a></li>
<li><a class="video-tag" href="/">青涩韦德无敌开挂</a></li>
<li><a class="video-tag" href="/">威少前几赛季已无解</a></li>
<li><a class="video-tag" href="/">科比09季后太猛</a></li>
<li><a class="video-tag" href="/">小皇帝高中封神</a></li>
</ul>
  </div>
</div>

<div class="feed">
<div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">詹皇30+9+11骑士大胜2-0老鹰</a></li>
<li><a class="video-tag" href="/">詹皇30+9+11激活全队</a></li>
<li><a class="video-tag" href="/">魔术师称赞詹姆斯</a></li>
<li><a class="video-tag" href="/">2-0后詹皇没输过系列赛</a></li>
<li><a class="video-tag" href="/">图-晒肌肉狂魔内特</a></li>
<li><a class="video-tag" href="/">LBJ追平杰里-韦斯特纪录</a></li>
<li><a class="video-tag" href="/">科比承认下季是湖人最后1年</a></li>
<li><a class="video-tag" href="/">詹皇开启魔术师模式</a></li>
<li><a class="video-tag" href="/">香波特轰4颗三分</a></li>
<li><a class="video-tag" href="/">图-国青小将惊艳女友</a></li>
</ul>
  </div></div>
</div>

</div>
</div>

<div class=" col-xs-12 col-md-3">

</div>
{% endblock %} 

{% block javascript %} 

{% endblock %}
