{% extends 'mobile/layout.html' %} 

{% block title %}
<title>@{{user_info.username}} 的财富 - 买买买</title>
{% endblock %} 

{% block main %}
<div class="col-xs-12 shifter-page">

    <div class="page-header">
        <h1>
            <small>我的账户余额</small>
        </h1>

        <div class="fr" id="money">
            <a href="javascript:;" class="balance_area" alt="{{gold_coins}} 金币，{{silver_coins}} 银币，{{bronze_coins}} 铜币">{%if gold_coins!=0%}{{gold_coins}} <img src="/static/img/gold.png" align="absmiddle" border="0" style="padding-bottom: 2px;"> {%endif%}{%if silver_coins!=0%}{{silver_coins}} <img src="/static/img/silver.png" align="absmiddle" border="0" style="padding-bottom: 2px;"> {%endif%}{%if bronze_coins!=0%}{{bronze_coins}}<img src="/static/img/bronze.png" align="absmiddle" border="0">{%endif%}</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>时间</th>
                <th>类型</th>
                <th>数额</th>
                <th>余额</th>
                <th>描述</th>
            </tr>
        </thead>
        <tbody>
            {%for balance in balances.list%}
            <tr>
                <td class="balance-time">{{balance.created}}</td>
                <td>{{balance.type_name}}</td>
                <td>{%if balance.amount>0%}+{%endif%}{{balance.amount}}</td>
                <td>{{balance.balance}}</td>
                <td class="balance-description">{{balance.balance_text1}}{%if balance.user_id%} <a href="/u/{{balance.user_name}}" class=" tipped_ajax_user" data-tipped="/get/user/{{balance.user_name}}">{{balance.user_name}}</a> {%endif%}{{balance.balance_text2}} > <a href="/p/{{balance.post_id}}{%if balance.reply_id%}#{{balance.reply_id}}{%endif%}">{{balance.post_title}}</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <ul class="pager">{{ balances.page|pagination(request.uri) }}</ul>


</div>

<div id="inviteJoinModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">邀请朋友加入</h4>
            </div>
            <div class="modal-body">
                <div class="invite-email input-group">
                    <input id="inviteEmailInput" type="text" class="form-control" placeholder="输入 email 邀请朋友加入买买买">
                    <span class="input-group-btn">
                        <button id="inviteEmail" class="btn btn-default" type="button" data-post="">发送邀请</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block navigation %}
<nav class="shifter-navigation">
                    <ul class="nav nav-list">
                    <li class="nav-item">
                <form method="get" action="http://www.baidu.com/baidu" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input name="word" size="30" maxlength="100" type="text" id="search-input" class="form-control" placeholder="搜索一下，你就知道怎么买" />
                            <input type='submit' value='搜索' onclick="this.form.target='_blank';return true;" style="display:none">
                            <input name="tn" type="hidden" value="bds" />
                            <input name="cl" type="hidden" value="3" />
                            <input name="si" type="hidden" value="mmmai.com" />
                            <input name="ct" type="hidden" value="2097152" />
                        </div>
                    </form>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/u/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="user" {%endif%}> <i class="icon-home"></i>
                我的主页
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/follows/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="follows" {%endif%}> <i class="icon-follow"></i>
                我的所有关注
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/notifications{%endif%}" {% if user_info==none%}data-link="notifications" {%endif%}>
                    <i class="icon-message"></i>
                    我的消息 
                    {%if notice_count%}
                    <span class="badge message-badge">{{notice_count}}</span>
                    {%endif%}
                </a>
            </li>

            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/invitations{%endif%}" {% if user_info==none%}data-link="invitations" {%endif%}>
                    <i class="icon-invitation"></i>
                    邀请我回答的问题 
                    {%if invite_count%}
                    <span class="badge invite-badge">{{invite_count}}</span>
                    {%endif%}
                </a>
            </li>
            <li class="nav-item">
                <a href="/tags">
                    <i class="icon-tag"></i>
                    所有标签
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%else%}class="comingsoon" {%endif%} href="javascript:;" {% if user_info==none%}data-link="list" {%endif%}>
                    <i class="icon-list"></i>
                    欲望清单
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a {%if user_info==none%}class="unlogin" {%endif%} href="javascript:;" id="inviteJoin" {% if user_info !=none%}data-toggle="modal" data-target="#inviteJoinModal" {%endif%}>
                    <i class="icon-invite"></i>
                    邀请朋友加入
                </a>
            </li>
        </ul>

        <div class="slide-bottom">
        {%if user_info%}
        {%else%}
        <a class="slide-btn slide-btn-login unlogin" href="javascript:;" {%if user_info==none%}{%if link2%}data-link="{{link}}" data-link2="{{link2}}" {%endif%}{%endif%}>登录 or 注册</a>
        {%endif%} 
        <a class="slide-btn slide-btn-post {%if user_info == none%}unlogin{%endif%}" href="{% if user_info == none %}javascript:;{%else%}/new{%endif%}" {%if user_info==none%}data-link="new" {%endif%}>提问 or 发帖</a>
        {%if user_info%}
        <a class="slide-btn slide-btn-login" href="/signout">退出</a>
        {%endif%}
        </div>
    </nav>
{% endblock %} 

{% block javascript %}
<script>
    $(document).on('click', '#inviteEmail', function() {
        var email = $('#inviteEmailInput').val();

        $.getJSON('/invite/to/join?email=' + email, function(data) {
            if (data.success != 0) {
                $('#inviteEmailInput').val('');
                $('#inviteJoinModal').modal('hide');
                alert('邀请发送成功!');
            } else {
                alert('邀请发送失败!');
            }
        });
    });
</script>
{% endblock %}
