{% extends 'mobile/layout.html' %}

{% block title %}
<title>编辑问题 - 买买买</title>
{% endblock %}

{% block stylesheet %}
<link href="/static/summernote-0.5.2-dist/summernote.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.11.0/jquery-ui.css">
<link href="/static/aehlke-tag-it-1d84585/css/jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<div class="col-xs-12 shifter-page">
    <div class="new">
        <ul id="type_tab" class="nav nav-tabs" role="tablist" id="myTab">
            {% if post.post_type == 'q' %}
            <li class="active">
                <a href="#question" role="tab" data-toggle="tab">问 答</a>
            </li>
            {% else %}
            <li class="active">
                <a href="#post" role="tab" data-toggle="tab">文 章</a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            {% if post.post_type == 'q' %}
            <div class="tab-pane active" id="question">
                <form class="mt10" action='/edit/{{post.id}}?t=q' method="POST" id="qForm">
                    <div class="new-btn">
                        <a id="qPostBtn" class="btn btn-sm btn-success">立即发布{{ xsrf_form_html() }}</a>
                    </div>
                    <div class="title">
                        <input type="text" id="qTitle" name="title" class="form-control" placeholder="输入你的问题" value="{{post.title}}">
                    </div>
                    <div class="content">
                        <div id="qSummernote" class="description"></div>
                        <input type="hidden" name="content" id="qContent" value="">
                        <div id="qContentText2" style="display: none;">{{post.content}}</div>
                    </div>
                    <div class="tag">
                        <input type="hidden" name="tag" id="qSingleField" value="{{tagStr}}">
                        <ul id="qTags" class=""></ul>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="tab-pane active" id="post">
                <form class="mt10" action='/edit/{{post.id}}?t=p' method="POST" id="pForm">
                    <div class="new-btn">
                        <a id="pPostBtn" class="btn btn-sm btn-success">立即发布{{ xsrf_form_html() }}</a>
                    </div>
                    <div class="title">
                        <input type="text" id="pTitle" name="title" class="form-control" placeholder="输入你的标题" value="{{post.title}}">
                    </div>
                    <div class="content">
                        <div id="pSummernote" class="description"></div>
                        <input type="hidden" name="content" id="pContent" value="">
                        <div id="pContentText2" style="display: none;">{{post.content}}</div>
                    </div>
                    <div class="tag">
                        <input type="hidden" name="tag" id="pSingleField" value="{{tagStr}}">
                        <ul id="pTags" class=""></ul>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block navigation %}
<nav class="shifter-navigation">
                    <ul class="nav nav-list">
                    <li class="nav-item">
                <form method="get" action="http://www.baidu.com/baidu" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input name="word" size="30" maxlength="100" type="text" id="search-input" class="form-control" placeholder="搜索一下，你就知道怎么买" />
                            <input type='submit' value='搜索' onclick="this.form.target='_blank';return true;" style="display:none">
                            <input name="tn" type="hidden" value="bds" />
                            <input name="cl" type="hidden" value="3" />
                            <input name="si" type="hidden" value="mmmai.com" />
                            <input name="ct" type="hidden" value="2097152" />
                        </div>
                    </form>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/u/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="user" {%endif%}> <i class="icon-home"></i>
                我的主页
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/follows/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="follows" {%endif%}> <i class="icon-follow"></i>
                我的所有关注
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/notifications{%endif%}" {% if user_info==none%}data-link="notifications" {%endif%}>
                    <i class="icon-message"></i>
                    我的消息 
                    {%if notice_count%}
                    <span class="badge message-badge">{{notice_count}}</span>
                    {%endif%}
                </a>
            </li>

            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/invitations{%endif%}" {% if user_info==none%}data-link="invitations" {%endif%}>
                    <i class="icon-invitation"></i>
                    邀请我回答的问题 
                    {%if invite_count%}
                    <span class="badge invite-badge">{{invite_count}}</span>
                    {%endif%}
                </a>
            </li>
            <li class="nav-item">
                <a href="/tags">
                    <i class="icon-tag"></i>
                    所有标签
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%else%}class="comingsoon" {%endif%} href="javascript:;" {% if user_info==none%}data-link="list" {%endif%}>
                    <i class="icon-list"></i>
                    欲望清单
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a {%if user_info==none%}class="unlogin" {%endif%} href="javascript:;" id="inviteJoin" {% if user_info !=none%}data-toggle="modal" data-target="#inviteJoinModal" {%endif%}>
                    <i class="icon-invite"></i>
                    邀请朋友加入
                </a>
            </li>
        </ul>

        <div class="slide-bottom">
        {%if user_info%}
        {%else%}
        <a class="slide-btn slide-btn-login unlogin" href="javascript:;" {%if user_info==none%}{%if link2%}data-link="{{link}}" data-link2="{{link2}}" {%endif%}{%endif%}>登录 or 注册</a>
        {%endif%} 
        <a class="slide-btn slide-btn-post {%if user_info == none%}unlogin{%endif%}" href="{% if user_info == none %}javascript:;{%else%}/new{%endif%}" {%if user_info==none%}data-link="new" {%endif%}>提问 or 发帖</a>
        {%if user_info%}
        <a class="slide-btn slide-btn-login" href="/signout">退出</a>
        {%endif%}
        </div>
    </nav>
{% endblock %} 

{% block javascript %}
<script src="/static/jquery-ui-1.11.0/jquery-ui.js"></script>
<script src="/static/aehlke-tag-it-1d84585/js/tag-it.js"></script>
<script src="/static/summernote-0.5.2-dist/summernote.js"></script>
<script src="/static/summernote-0.5.2-dist/summernote-zh-CN.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#type_tab a').click(function(e) {
        e.preventDefault()
        $(this).tab('show')
    });

    function sendFile(file, editor, editable) {
        data = new FormData();
        data.append("file", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/upload",
            cache: false,
            contentType: false,
            processData: false,
            success: function(url) {
                editor.insertImage(editable, url);
            }
        });
    }

    var sampleTags = [];
    $.getJSON('/get/tags', function(data) {
        $.each(data, function(key, val) {
            sampleTags.push(val);
        });
    });

    {% if post.post_type == 'q' %}
    $('#qSummernote').summernote({
        height: 200, // set editor height
        minHeight: 200, // set minimum height of editor
        maxHeight: 600, // set maximum height of editor
        focus: true,
        toolbar: [
                //['style', ['style']],
                ['style', ['bold', 'italic', 'strikethrough'/*, 'clear'*/]],
                //['fontsize', ['fontsize']],
                //['color', ['color']],
                ['para', ['ul', 'ol' /*, 'paragraph'*/ ]],
                //['height', ['height']],
                //['table', ['table']],
                //['insert', ['link', 'picture', 'video']], // no insert buttons
                //['insert', ['link']],
                //['view', ['fullscreen' /*, 'codeview'*/ ]],   
        ],
        lang: 'zh-CN',
        onImageUpload: function(files, editor, editable) {
            sendFile(files[0], editor, editable);
        },
    });
    var qContent = $('#qContentText2').html();
    $('#qSummernote').code(qContent);

    $("#qTags").tagit({
        placeholderText: '添加合适的标签',
        availableTags: sampleTags,
        singleField: true,
        allowSpaces: true, //标签中是否允许空格
        singleFieldNode: $('#qSingleField') //将值保存到mySingleField元素
    });

    $(document).on('click', '#qPostBtn', function() {
        var title = $('#qTitle').val();
        var tag = $('#qSingleField').val();
        if (!title.trim() || (title.indexOf("?") < 0 && title.indexOf("？") < 0) || !tag.trim()) {
            $('#alertModal').modal('show');
            return;
        }
        $('#qContent').val($('#qSummernote').code());
        $('#qForm').submit();
    });
    {% else %}
    $('#pSummernote').summernote({
        height: 200, // set editor height
        minHeight: 200, // set minimum height of editor
        maxHeight: 600, // set maximum height of editor
        focus: true,
        toolbar: [
            //['style', ['style']],
            ['style', ['bold', 'italic', 'underline']],
            //['fontsize', ['fontsize']],
            //['color', ['color']],
            ['para', ['ul', 'ol' /*, 'paragraph'*/ ]],
            //['height', ['height']],
            //['table', ['table']],
            ['insert', ['link', 'picture', 'video']], // no insert buttons
            //['insert', ['link']],
            ['view', ['fullscreen' /*, 'codeview'*/ ]],
        ],
        lang: 'zh-CN',
        onImageUpload: function(files, editor, editable) {
            sendFile(files[0], editor, editable);
        },
    });
    var pContent = $('#pContentText2').html();
    $('#pSummernote').code(pContent); 

    $("#pTags").tagit({
        placeholderText: '添加合适的标签',
        availableTags: sampleTags,
        singleField: true,
        allowSpaces: true, //标签中是否允许空格
        singleFieldNode: $('#pSingleField') //将值保存到mySingleField元素
    });

    $(document).on('click', '#pPostBtn', function() {
        var title = $('#pTitle').val();
        var tag = $('#pSingleField').val();
        if (!title.trim() || !tag.trim()) {
            $('#alertModal').modal('show');
            return;
        }
        $('#pContent').val($('#pSummernote').code());
        $('#pForm').submit();
    });
    {% endif %}
});
</script>
{% endblock %}
