{% extends 'mobile/layout.html' %} {% block title %}
<title>首页 - 南京程序员第一社区</title>
{% endblock %} {% block main %}
<div class="col-xs-12 shifter-page">
    <div class="feed-list">
        <div class="feeds-inner">
            {%for feed in feeds.list%}
            <div class="feed">
                <div class="user-wrapper">
                    <div class="user-avatar tipped_ajax_user" data-tipped="/get/user/{{feed.author_username}}">
                        <a href="/u/{{feed.author_username}}">
                            <img src="{{feed.author_avatar}}?imageView2/1/w/32/h/32" width="32px" height="32px" alt="" class="avatar-img">
                        </a>
                    </div>
                    <div class="user-title">
                        <div class="time">{{feed.created|pretty_date}}</div>
                        <div class="user-meta meta">
                            <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.author_username}}" href="/u/{{feed.author_username}}">{{feed.author_username}}</a>
                            邀请你回答问题
                        </div>
                        <div class="feed-title">
                            <h2>
                                <a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="summary">
                    <div class="summary-text">{{feed.post_content|mobile_index_process}}</div>
                </div>
            </div>
            {%endfor%} {% if feeds.page.next!=feeds.page.current %}
            <div class="next jscroll-next-parent">
                <a href="/invitations?p={{feeds.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
            </div>
            {%else%}
            <div class="next jscroll-next-parent">
                <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
            </div>
            {%endif%}
        </div>
    </div>

</div>

<div id="inviteJoinModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">邀请朋友加入</h4>
            </div>
            <div class="modal-body">
                <div class="invite-email input-group">
                    <input id="inviteEmailInput" type="text" class="form-control" placeholder="输入 email 邀请朋友加入南京程序员第一社区">
                    <span class="input-group-btn">
                        <button id="inviteEmail" class="btn btn-default" type="button" data-post="">发送邀请</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block navigation %}
<nav class="shifter-navigation">
                    <ul class="nav nav-list">
                    <li class="nav-item">
                <form method="get" action="http://www.baidu.com/baidu" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input name="word" size="30" maxlength="100" type="text" id="search-input" class="form-control" placeholder="搜索一下，你就知道怎么买" />
                            <input type='submit' value='搜索' onclick="this.form.target='_blank';return true;" style="display:none">
                            <input name="tn" type="hidden" value="bds" />
                            <input name="cl" type="hidden" value="3" />
                            <input name="si" type="hidden" value="mmmai.com" />
                            <input name="ct" type="hidden" value="2097152" />
                        </div>
                    </form>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/u/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="user" {%endif%}> <i class="icon-home"></i>
                我的主页
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/follows/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="follows" {%endif%}> <i class="icon-follow"></i>
                我的所有关注
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/notifications{%endif%}" {% if user_info==none%}data-link="notifications" {%endif%}>
                    <i class="icon-message"></i>
                    我的消息 
                    {%if notice_count%}
                    <span class="badge message-badge">{{notice_count}}</span>
                    {%endif%}
                </a>
            </li>

            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/invitations{%endif%}" {% if user_info==none%}data-link="invitations" {%endif%}>
                    <i class="icon-invitation"></i>
                    邀请我回答的问题 
                    {%if invite_count%}
                    <span class="badge invite-badge">{{invite_count}}</span>
                    {%endif%}
                </a>
            </li>
            <li class="nav-item">
                <a href="/tags">
                    <i class="icon-tag"></i>
                    所有标签
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%else%}class="comingsoon" {%endif%} href="javascript:;" {% if user_info==none%}data-link="list" {%endif%}>
                    <i class="icon-list"></i>
                    欲望清单
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a {%if user_info==none%}class="unlogin" {%endif%} href="javascript:;" id="inviteJoin" {% if user_info !=none%}data-toggle="modal" data-target="#inviteJoinModal" {%endif%}>
                    <i class="icon-invite"></i>
                    邀请朋友加入
                </a>
            </li>
        </ul>

        <div class="slide-bottom">
        {%if user_info%}
        {%else%}
        <a class="slide-btn slide-btn-login unlogin" href="javascript:;" {%if user_info==none%}{%if link2%}data-link="{{link}}" data-link2="{{link2}}" {%endif%}{%endif%}>登录 or 注册</a>
        {%endif%} 
        <a class="slide-btn slide-btn-post {%if user_info == none%}unlogin{%endif%}" href="{% if user_info == none %}javascript:;{%else%}/new{%endif%}" {%if user_info==none%}data-link="new" {%endif%}>提问 or 发帖</a>
        {%if user_info%}
        <a class="slide-btn slide-btn-login" href="/signout">退出</a>
        {%endif%}
        </div>
    </nav>
{% endblock %} 

{% block javascript %}
<script src="/static/jscroll-master/jquery.jscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".summary-text").each(function() {
                var text = $(this);
        var img1 = $(this).find('.mmm-img:eq(0)').attr('src');
        
        str = text.text();
        textLeng = 88;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        text.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(this); 
        }
            });

        $(document).on('click', '#inviteEmail', function() {
            var email = $('#inviteEmailInput').val();

            $.getJSON('/invite/to/join?email=' + email, function(data) {
                if (data.success != 0) {
                    $('#inviteEmailInput').val('');
                    $('#inviteJoinModal').modal('hide');
                    alert('邀请发送成功!');
                } else {
                    alert('邀请发送失败!');
                }
            });
        });

        $('.feed-list').jscroll({
            loadingHtml: '<a href="/invitations?p={{feeds.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.feeds-inner',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
            callback: function(newElems) {
                $(".summary-text").each(function() {
                var text = $(this);
        var img1 = $(this).find('.mmm-img:eq(0)').attr('src');
        
        str = text.text();
        textLeng = 88;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        text.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(this); 
        }
            });
            },
        });

        $(document).on('click', '.video-link', function() {
            var video_id = $(this).attr('data-video');
            $(this).replaceWith('<iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" height="498" width="510" src="//player.youku.com/embed/' + video_id + '" frameborder="0"></iframe>');
        });
    });
</script>
{% endblock %}
