{% extends 'mobile/layout.html' %} 

{% block title %}
<title>标签：{{tag.name}} - 买买买</title>
{% endblock %} 

{% block main %}
<div class="col-xs-12 shifter-page">

    <div class="tag-header">
        <div class="tag-avatar">
            <a href="/t/{{tag.name}}">
                <img src="{{tag.thumb or 'http://mmm-static.qiniudn.com/tag.png'}}-thumbm" width="64px" height="64px" alt="" class="tag-avatar-img">
            </a>
        </div>
        <div class="tag-text">
            <div class="tag-title">
                <h2>
                    <a href="/t/{{tag.name}}">{{tag.name}}</a>
                </h2>
            </div>
            <div class="tag-desciption">
                <p>
                    {%if tag.intro%} {{tag.intro}} {%else%} 目前还没有关于这个标签的介绍 {%endif%}
                </p>
            </div>
            {%if user_info and user_info.permission == 5%}
            <div class="tag-edit">
                <a href="/edit/tag/{{tag.id}}">编辑</a>
            </div>
            {%endif%}
        </div>
    </div>

    <div class="tag-feed">

        <ul id="type_tab" class="nav nav-tabs" role="tablist" id="myTab">
            <li class="active">
                <a href="#feed" role="tab" data-toggle="tab">最新动态</a>
            </li>
            <li>
                <a href="#question" role="tab" data-toggle="tab">问题 {{feeds1_len}}</a>
            </li>
            <li>
                <a href="#post" role="tab" data-toggle="tab">文章 {{feeds7_len}}</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="feed">
                <div class="feed-list">
                    <div class="feeds-inner">
                        {%for feed in feeds.list%} 
                        {%if feed.feed_type==1 or feed.feed_type==3 or feed.feed_type==4 or feed.feed_type==7 or feed.feed_type==9 or feed.feed_type==10 or feed.feed_type==13 or feed.feed_type==14 or feed.feed_type==15 or feed.feed_type==16%}
                        <div class="feed">
                            <div class="user-wrapper">
                                <div class="user-title">
                                    <div class="time">{{feed.created|pretty_date}}</div>
                                    <div class="user-meta meta">
                                        <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.author_username}}" href="/u/{{feed.author_username}}">{{feed.author_username}}</a>
                                        {{feed.feed_text}}
                                    </div>
                                    <div class="feed-title">
                                        <h2>
                                            <a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="summary">
                                <div class="summary-text">{{feed.post_content|mobile_index_process}}</div>
                            </div>
                            <div class="answer-meta meta">
                                <a class="feed-post-follow-btn {%if user_info == none%}unlogin{%endif%}" href="javascript:void(0)" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}" {%endif%} data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                                <span class="bullet">•</span>
                                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个{%if feed.post_type=='q'%}回答{%else%}评论{%endif%}</a>
                                {% if user_info.username != feed.author_username %}
                                <span class="bullet">•</span>
                                <a class="thank {% if feed.post_thank_id %}thanked{% endif %} {%if user_info == none%}unlogin{%endif%}" {% if feed.post_thank_id==none or user_info==none %}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"
                                {%endif%} data-id="{{feed.post_id}}" data-type="post">{% if feed.post_thank_id %}已感谢{% else %}感谢{% endif %}</a>
                                <span class="bullet">•</span>
                                <a id="p{{feed.post_type}}{{feed.post_id}}" class="{% if feed.post_report_id %}reported{%else%}report{% endif %} {% if user_info == none%}unlogin{%endif%}" {% if user_info==none or feed.post_report_id==none %}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}"
                                data-link2="{{link2}}" {%endif%} data-id="{{feed.post_id}}" data-type="p{{feed.post_type}}" {% if feed.post_report_id==none%}data-toggle="modal" data-target="#reportModal" {%endif%}>{% if feed.post_report_id %}已举报{% else %}举报{% endif %}</a>
                                {% endif %}
                            </div>
                        </div>
                        {%endif%} 
                        {%if feed.feed_type==2 or feed.feed_type==5 or feed.feed_type==6 or feed.feed_type==8 or feed.feed_type==11 or feed.feed_type==12%}
                        <div class="feed">
                            <div class="user-wrapper">
                                <div class="user-title">
                                    <div class="time">{{feed.created|pretty_date}}</div>
                                    <div class="user-meta meta">
                                        <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.author_username}}" href="/u/{{feed.author_username}}">{{feed.author_username}}</a>
                                        {{feed.feed_text}}
                                    </div>
                                    <div class="feed-title">
                                        <h2>
                                            <a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="summary">
                                <div class="user-name">
                                    <a class="reply-user-link tipped_ajax_user" data-tipped="/get/user/{{feed.reply_user_username}}" href="/u/{{feed.reply_user_username}}">{{feed.reply_user_username}}</a>{%if feed.reply_user_sign%}，{{feed.reply_user_sign}}{%endif%}
                                </div>
                                <div class="summary-text">{{feed.reply_content|mobile_index_process}}</div>
                            </div>
                            <div class="answer-meta meta">
                                <a class="feed-post-follow-btn {%if user_info == none%}unlogin{%endif%}" href="javascript:void(0)" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}" {%endif%} data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                                <span class="bullet">•</span>
                                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个{%if feed.post_type=='q'%}回答{%else%}评论{%endif%}</a>
                                {% if user_info.username != feed.author_username %}
                                <span class="bullet">•</span>
                                <a class="thank {% if feed.reply_thank_id %}thanked{% endif %} {%if user_info == none%}unlogin{%endif%}" {% if feed.reply_thank_id==none or user_info==none%}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"
                                {%endif%} data-id="{{feed.reply_id}}" data-type="reply">{% if feed.reply_thank_id %}已感谢{% else %}感谢{% endif %}</a>
                                <span class="bullet">•</span>
                                <a id="r{{feed.post_type}}{{feed.reply_id}}" class="{% if feed.reply_report_id %}reported{%else%}report{% endif %} {% if user_info == none%}unlogin{%endif%}" {% if user_info==none or feed.reply_report_id==none %}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}"
                                data-link2="{{link2}}" {%endif%} data-id="{{feed.reply_id}}" data-type="r{{feed.post_type}}" {% if feed.reply_report_id==none%}data-toggle="modal" data-target="#reportModal" {%endif%}>{% if feed.reply_report_id %}已举报{% else %}举报{% endif %}</a>
                                {% endif %}
                            </div>
                        </div>
                        {%endif%} 
                        {%endfor%} 
                        {% if feeds.page.next!=feeds.page.current %}
                        <div class="next jscroll-next-parent">
                            <a href="/t/{{tag.name}}?p={{feeds.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                        </div>
                        {%else%}
                        <div class="next jscroll-next-parent">
                            <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="question">
                <div class="feed-list">
                    <div class="feeds-inner1">
                        {%for feed in feeds1.list%} 
                        {%if feed.feed_type==1%}
                        <div class="feed">
                            <div class="user-wrapper">
                                <div class="user-title">
                                    <div class="time">{{feed.created|pretty_date}}</div>
                                    <div class="user-meta meta">
                                        <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.author_username}}" href="/u/{{feed.author_username}}">{{feed.author_username}}</a>
                                        {{feed.feed_text}}
                                    </div>
                                    <div class="feed-title">
                                        <h2>
                                            <a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="summary">
                                <div class="summary-text">{{feed.post_content|mobile_index_process}}</div>
                            </div>
                            <div class="answer-meta meta">
                                <a class="feed-post-follow-btn {%if user_info == none%}unlogin{%endif%}" href="javascript:void(0)" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}" {%endif%} data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                                <span class="bullet">•</span>
                                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                                {% if user_info.username != feed.author_username %}
                                <span class="bullet">•</span>
                                <a class="thank {% if feed.post_thank_id %}thanked{% endif %} {%if user_info == none%}unlogin{%endif%}" {% if feed.post_thank_id==none or user_info==none %}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"
                                {%endif%} data-id="{{feed.post_id}}" data-type="post">{% if feed.post_thank_id %}已感谢{% else %}感谢{% endif %}</a>
                                <span class="bullet">•</span>
                                <a id="p{{feed.post_type}}{{feed.post_id}}" class="{% if feed.post_report_id %}reported{%else%}report{% endif %} {% if user_info == none%}unlogin{%endif%}" {% if user_info==none or feed.post_report_id==none %}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}"
                                data-link2="{{link2}}" {%endif%} data-id="{{feed.post_id}}" data-type="p{{feed.post_type}}" {% if feed.post_report_id==none%}data-toggle="modal" data-target="#reportModal" {%endif%}>{% if feed.post_report_id %}已举报{% else %}举报{% endif %}</a>
                                {% endif %}
                            </div>
                        </div>
                        {%endif%} 
                        {%endfor%} 
                        {% if feeds1.page.next!=feeds1.page.current %}
                        <div class="next jscroll-next-parent">
                            <a href="/t/{{tag.name}}?p={{feeds1.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                        </div>
                        {%else%}
                        <div class="next jscroll-next-parent">
                            <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="post">
                <div class="feed-list">
                    <div class="feeds-inner7">
                        {%for feed in feeds7.list%} 
                        {%if feed.feed_type==7%}
                        <div class="feed">
                            <div class="user-wrapper">
                                <div class="user-title">
                                    <div class="time">{{feed.created|pretty_date}}</div>
                                    <div class="user-meta meta">
                                        <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.author_username}}" href="/u/{{feed.author_username}}">{{feed.author_username}}</a>
                                        {{feed.feed_text}}
                                    </div>
                                    <div class="feed-title">
                                        <h2>
                                            <a href="/p/{{feed.post_id}}">{{feed.post_title}}</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="summary">
                                <div class="summary-text">{{feed.post_content|mobile_index_process}}</div>
                            </div>
                            <div class="answer-meta meta">
                                <a class="feed-post-follow-btn {%if user_info == none%}unlogin{%endif%}" href="javascript:void(0)" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}" {%endif%} data-obj="{{feed.post_id}}" data-type="{{feed.post_type}}">{%if feed.post_follow_id%}取消关注{%else%}关注问题{%endif%}</a>
                                <span class="bullet">•</span>
                                <a href="/p/{{feed.post_id}}">{{feed.post_reply_num}} 个回答</a>
                                {% if user_info.username != feed.author_username %}
                                <span class="bullet">•</span>
                                <a class="thank {% if feed.post_thank_id %}thanked{% endif %} {%if user_info == none%}unlogin{%endif%}" {% if feed.post_thank_id==none or user_info==none %}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"
                                {%endif%} data-id="{{feed.post_id}}" data-type="post">{% if feed.post_thank_id %}已感谢{% else %}感谢{% endif %}</a>
                                <span class="bullet">•</span>
                                <a id="p{{feed.post_type}}{{feed.post_id}}" class="{% if feed.post_report_id %}reported{%else%}report{% endif %} {% if user_info == none%}unlogin{%endif%}" {% if user_info==none or feed.post_report_id==none %}href="javascript:;" {% endif %} {%if user_info==none%}data-link="{{link}}"
                                data-link2="{{link2}}" {%endif%} data-id="{{feed.post_id}}" data-type="p{{feed.post_type}}" {% if feed.post_report_id==none%}data-toggle="modal" data-target="#reportModal" {%endif%}>{% if feed.post_report_id %}已举报{% else %}举报{% endif %}</a>
                                {% endif %}
                            </div>
                        </div>
                        {%endif%} 
                        {%endfor%} 
                        {% if feeds7.page.next!=feeds7.page.current %}
                        <div class="next jscroll-next-parent">
                            <a href="/u/{{view_user.username}}?p={{feeds7.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                        </div>
                        {%else%}
                        <div class="next jscroll-next-parent">
                            <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="follow-box box">
        <a id="followBtn" data-obj="{{tag.id}}" data-type="{{'t'}}" type="button" class="btn {%if follow %}btn-danger {% else %} btn-success {% endif %}btn-follow {%if user_info == none%}unlogin{%endif%}" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"
        {% endif %}>{% if follow %}取消关注 {% else %} 关注标签{% endif %}</a>
        <div class="promote-link meta">
            <a href="javascript:;">
                关注者 <strong id="followNum">{{follow_num}}</strong>
                人
            </a>
        </div>
    </div>

    {% if parent_tags.list %}
    <div class="status-box  box">
        <h3>父标签</h3>
        <ul class="tag-ranking-list">
            {% for tag in parent_tags.list %}
            <li>
                <a href="/t/{{tag.tag_name}}" class="tag {%if tag.tag_thumb%}tag-img{%endif%}" {%if tag.tag_thumb%}style="background-image: url({{tag.tag_thumb}}-icon);{%endif%}">{{tag.tag_name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} 
    {% if child_tags.list %}
    <div class="status-box  box">
        <h3>子标签</h3>
        <ul class="tag-ranking-list">
            {% for tag in child_tags.list %}
            <li>
                <a href="/t/{{tag.tag_name}}" class="tag {%if tag.tag_thumb%}tag-img{%endif%}" {%if tag.tag_thumb%}style="background-image: url({{tag.tag_thumb}}-icon);{%endif%}">{{tag.tag_name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>
{% endblock %} 

{% block navigation %}
<nav class="shifter-navigation">
                    <ul class="nav nav-list">
                    <li class="nav-item">
                <form method="get" action="http://www.baidu.com/baidu" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input name="word" size="30" maxlength="100" type="text" id="search-input" class="form-control" placeholder="搜索一下，你就知道怎么买" />
                            <input type='submit' value='搜索' onclick="this.form.target='_blank';return true;" style="display:none">
                            <input name="tn" type="hidden" value="bds" />
                            <input name="cl" type="hidden" value="3" />
                            <input name="si" type="hidden" value="mmmai.com" />
                            <input name="ct" type="hidden" value="2097152" />
                        </div>
                    </form>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/u/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="user" {%endif%}> <i class="icon-home"></i>
                我的主页
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/follows/{{user_info.username}}{%endif%}" {% if user_info==none%}data-link="follows" {%endif%}> <i class="icon-follow"></i>
                我的所有关注
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/notifications{%endif%}" {% if user_info==none%}data-link="notifications" {%endif%}>
                    <i class="icon-message"></i>
                    我的消息 
                    {%if notice_count%}
                    <span class="badge message-badge">{{notice_count}}</span>
                    {%endif%}
                </a>
            </li>

            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%endif%} href="{% if user_info == none%}javascript:;{%else%}/invitations{%endif%}" {% if user_info==none%}data-link="invitations" {%endif%}>
                    <i class="icon-invitation"></i>
                    邀请我回答的问题 
                    {%if invite_count%}
                    <span class="badge invite-badge">{{invite_count}}</span>
                    {%endif%}
                </a>
            </li>
            <li class="nav-item">
                <a href="/tags">
                    <i class="icon-tag"></i>
                    所有标签
                </a>
            </li>
            <li class="nav-item">
                <a {% if user_info==none%}class="unlogin" {%else%}class="comingsoon" {%endif%} href="javascript:;" {% if user_info==none%}data-link="list" {%endif%}>
                    <i class="icon-list"></i>
                    欲望清单
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a {%if user_info==none%}class="unlogin" {%endif%} href="javascript:;" id="inviteJoin" {% if user_info !=none%}data-toggle="modal" data-target="#inviteJoinModal" {%endif%}>
                    <i class="icon-invite"></i>
                    邀请朋友加入
                </a>
            </li>
        </ul>

        <div class="slide-bottom">
        {%if user_info%}
        {%else%}
        <a class="slide-btn slide-btn-login unlogin" href="javascript:;" {%if user_info==none%}{%if link2%}data-link="{{link}}" data-link2="{{link2}}" {%endif%}{%endif%}>登录 or 注册</a>
        {%endif%} 
        <a class="slide-btn slide-btn-post {%if user_info == none%}unlogin{%endif%}" href="{% if user_info == none %}javascript:;{%else%}/new{%endif%}" {%if user_info==none%}data-link="new" {%endif%}>提问 or 发帖</a>
        {%if user_info%}
        <a class="slide-btn slide-btn-login" href="/signout">退出</a>
        {%endif%}
        </div>
    </nav>
{% endblock %} 

{% block javascript %}
<script src="/static/jscroll-master/jquery.jscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#type_tab a').click(function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $(".summary-text").each(function() {
                var text = $(this);
        var img1 = $(this).find('.mmm-img:eq(0)').attr('src');
        
        str = text.text();
        textLeng = 88;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        text.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(this); 
        }
            });

        {% if user_info != none %}
        $(document).on('click', '#followBtn', function() {
            var obj_id = $('#followBtn').attr('data-obj');
            var obj_type = $('#followBtn').attr('data-type');

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/follow",
                data: JSON.stringify({
                    obj_id: obj_id,
                    obj_type: obj_type
                }),
                success: function(msg) {
                    if ($('#followBtn').hasClass('btn-success')) {
                        $('#followBtn').removeClass('btn-success');
                        $('#followBtn').addClass('btn-danger');
                        $('#followBtn').text('取消关注');
                    } else {
                        $('#followBtn').removeClass('btn-danger');
                        $('#followBtn').addClass('btn-success');
                        $('#followBtn').text('关注标签');
                    }
                },
                error: function(msg) {
                    alert("error");
                }
            });
        });

        $(document).on('click', '.feed-post-follow-btn {%if user_info == none%}unlogin{%endif%}', function() {
            var obj_id = $(this).attr('data-obj');
            var obj_type = $(this).attr('data-type');
            var follow_btn = $(this);

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/follow",
                data: JSON.stringify({
                    obj_id: obj_id,
                    obj_type: obj_type
                }),
                success: function(msg) {
                    if (follow_btn.text() == '关注问题') {
                        follow_btn.text('取消关注');
                    } else {
                        follow_btn.text('关注问题');
                    }
                },
                error: function(msg) {
                    alert("error");
                }
            });

        });

        $(document).on('click', '.thank', function() {
            var thank_id = $(this).attr('data-id');
            var thank_type = $(this).attr('data-type');
            var thank_text = $(this);

            if (thank_text.text() == '已感谢') {
                return;
            }

            $.getJSON('/thank/' + thank_id + '?type=' + thank_type, function(data) {
                if (data.success != 0) {
                    thank_text.text('已感谢');
                    thank_text.removeAttr("href");
                    thank_text.addClass("thanked");
                }
            });
        }); 
        {% endif %}

        $('.feed-list').jscroll({
            loadingHtml: '<a href="/t/{{tag.name}}?p={{feeds.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.feeds-inner',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
            callback: function(newElems) {
                $(".summary-text").each(function() {
                var text = $(this);
        var img1 = $(this).find('.mmm-img:eq(0)').attr('src');
        
        str = text.text();
        textLeng = 88;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        text.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(this); 
        }
            });
            },
        });

        $('.feed-list1').jscroll({
            loadingHtml: '<a href="/t/{{tag.name}}?p={{feeds1.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.feeds-inner1',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
            callback: function(newElems) {
                $(".summary-text").each(function() {
                var text = $(this);
        var img1 = $(this).find('.mmm-img:eq(0)').attr('src');
        
        str = text.text();
        textLeng = 88;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        text.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(this); 
        }
            });
            },
        });

        $('.feed-list7').jscroll({
            loadingHtml: '<a href="/t/{{tag.name}}?p={{feeds7.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.feeds-inner7',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
            callback: function(newElems) {
               $(".summary-text").each(function() {
                var text = $(this);
        var img1 = $(this).find('.mmm-img:eq(0)').attr('src');
        
        str = text.text();
        textLeng = 88;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        text.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(this); 
        }
            });
            },
        });

        $(document).on('click', '.video-link', function() {
            var video_id = $(this).attr('data-video');
            $(this).replaceWith('<iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" height="498" width="510" src="//player.youku.com/embed/' + video_id + '" frameborder="0"></iframe>');
        });
    });
</script>
{% endblock %}
