<div class="AjaxTippedUser">
    <div class="avatar">
        <a href="/t/{{view_tag.name}}">
            <img src="{{view_tag.thumb or 'http://mmm-static.qiniudn.com/tag.png'}}-60px"
            width="60" height="60">
            <div class="border-overlay">
                <!-- [] -->
            </div>
        </a>
    </div>
    <div class="info">
        <h1 class="has_font">
            <a href="/t/{{view_tag.name}}">
                {{view_tag.name}}
            </a>
        </h1>
        <span class="albumCount">
            问题：{{view_tag.question_num}}，文章：{{view_tag.post_num}}，关注：{{view_tag.follow_num}}
        </span>
        <div class="albums">
            {%for follow_user in follow_users.list%}
            <div class="album">
                <a href="/u/{{follow_user.username}}">
                    <img class="" src="{{follow_user.avatar}}-18px" alt="" width="18" height="18">
                    <div class="border-overlay">
                        <!-- [] -->
                    </div>
                </a>
            </div>
            {%endfor%}
            <a data-obj="{{view_tag.id}}" data-type="t" type="button" class="more btn {%if follow %}btn-danger {% else %} btn-success {% endif %} btn-xs tip-follow-tag {%if user_info == none%}unlogin{%endif%}">
                {%if follow%}取消关注 {% else %} 关注{% endif %}
            </a>
        </div>
    </div>
</div>
{%if user_info!=none%}
<script type="text/javascript">
    $(document).on('click', '.tip-follow-tag',
    function() {
        var obj_id = $(this).attr('data-obj');
        var obj_type = $(this).attr('data-type');
        var follow_btn = $(this);

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/follow",
            data: JSON.stringify({
                obj_id: obj_id,
                obj_type: obj_type
            }),
            success: function(msg) {
                if (follow_btn.hasClass('btn-success')) {
                    follow_btn.removeClass('btn-success');
                    follow_btn.addClass('btn-danger');
                    follow_btn.text('取消关注');
                } else {
                    follow_btn.removeClass('btn-danger');
                    follow_btn.addClass('btn-success');
                    follow_btn.text('关注');
                }
            },
            error: function(msg) {
                alert("error");
            }
        });
    });
</script>
{%endif%}