<div class="AjaxTippedYouku">
    <div class="avatar">
        <a href="http://v.youku.com/v_show/id_{{video_id}}.html" target="_blank">
            <img src="{{video_logo}}" height="60">
            <i class="play-icon">
            </i>
        </a>
    </div>
    <div class="info">
        <h1 class="has_font">
            <a href="http://v.youku.com/v_show/id_{{video_id}}.html" target="_blank">
                {{video_title}}
            </a>
        </h1>
        <span class="albumCount">
        </span>
    </div>
</div>