{% extends 'layout.html' %}

{% block title %}

<title>社区 - 南京程序员第一社区</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css"/>
{% endblock %}

{% block main %}
<div class="col-xs-12 col-md-9">
    <div class="main">

        <div class="card">

            <div class="">
                <div class="nav-tab">
                    <div class="main-tab" active_nav_id="{{active_nav_id}}">
                        {% set i=0 %}
                        {% for nav in all_navs %}
                        <a href="javascript:;" class="nav-item
                         " data-id="{{nav.id}}">{{nav.nav_name}}</a>
                        {% set i=i+1 %}
                        {%endfor%}
                    </div>
                    <!--<div class="sub-tab">-->
                    <!--{% for subnav in all_subnavs %}-->
                    <!--<a href="javascript:;" class="sub-item" {%if all_navs[0].id != subnav.parent_id%}style="display:none;"{%endif%} data-parent="{{subnav.parent_id}}"  data-id="{{subnav.id}}">{{subnav.nav_name}}</a>-->
                    <!--{%endfor%}-->
                    <!--</div>-->
                </div>
            </div>

            <div class="card-list">
                <div class="card-inner" id="list_news">
                    {% for post in all_posts.list %}
                    <div class="feed" id="news_div">
                        <div class="feed-up">
                            <div class="avatar feed-left">
                                <a href="/u/{{post.author_username}}"><img class="feed-object avatar-48"
                                                                           src="{{post.author_avatar}}?imageView2/1/w/48/h/48"></a>
                            </div>
                            <div class="infos feed-body">
                                <div class="title feed-heading">
                                    <a title="{{post.title}}" href="/p/{{post.id}}">{{post.title}}</a>
                                </div>
                                <div class="info">
                                    <span class="small"><div class="votes"></div><a class="node"
                                                                                    href="/go/{{post.node_name}}">{{post.node_name}}</a> &nbsp;•&nbsp; <strong><a
                                            href="/u/{{post.author_username}}">{{post.author_username}}</a></strong> &nbsp;•&nbsp; {{post.updated|pretty_date}}{%if post.last_reply%} &nbsp;•&nbsp; 最后回复来自 <strong><a
                                            href="/u/{{post.last_reply_username}}">{{post.last_reply_username}}</a></strong>{%endif%}</span>
                                </div>
                            </div>
                            <div class="count feed-right">
                                <a class="count-num" href="/p/{{post.id}}">{{post.reply_num}}</a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                    {% if all_posts.page.next!=all_posts.page.current %}
                    <div class="next jscroll-next-parent">
                        <a href="/bbs?p={{all_posts.page.next}}" id="load-more"
                           class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                    </div>
                    {%else%}
                    <div class="next jscroll-next-parent">
                        <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading"
                           style="display: block;">没有更多了</a>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" col-xs-12 col-md-3">
    {%if user_info%}
    <div class="card">
        <div class="cell">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="48" valign="top">
                        <a href="/u/{{user_info.username}}"><img src="{{user_info.avatar}}" class="avatar" border="0"
                                                                 align="default"
                                                                 style="max-width: 48px; max-height: 48px;"></a>
                    </td>
                    <td width="10" valign="top"></td>
                    <td width="auto" align="left"><span class="bigger"><a href="/u/{{user_info.username}}">{{user_info.username}}</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="sep10"></div>
            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top: 5px;margin-bottom: 5px;">
                <tbody>
                <tr>
                    <!-- <td width="33%" align="center" style="display: none"><a href="/follows/{{user_info.username}}?tab=live" class="dark" style="display: block;"><span class="bigger">{{user_card.live_count}}</span><div class="sep3"></div><span class="fade-header">关注直播</span></a></td> -->
                    <td width="34%" style="border-right: 1px solid rgba(100, 100, 100, 0.1);" align="center"><a
                            href="/follows/{{user_info.username}}?tab=post" class="dark" style="display: block;"><span
                            class="bigger">{{user_card.follow_posts}}</span>

                        <div class="sep3"></div>
                        <span class="fade-header">主题收藏</span></a></td>
                    <td width="33%" align="center"><a href="/follows/{{user_info.username}}?tab=followees" class="dark"
                                                      style="display: block;"><span class="bigger">{{user_card.follow_users}}</span>

                        <div class="sep3"></div>
                        <span class="fade-header">特别关注</span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="inner">
            <div class="fr" id="money">
                <a href="/balance" class="balance_area"
                   alt="{{user_card.gold_coins}} 金币，{{user_card.silver_coins}} 银币，{{user_card.bronze_coins}} 铜币">{%if
                    user_card.gold_coins!=0%}{{user_card.gold_coins}} <img src="/static/img/gold.png" align="absmiddle"
                                                                           border="0" style="padding-bottom: 2px;">
                    {%endif%}{%if user_card.silver_coins!=0%}{{user_card.silver_coins}} <img
                            src="/static/img/silver.png" align="absmiddle" border="0" style="padding-bottom: 2px;">
                    {%endif%}{%if user_card.bronze_coins!=0%}{{user_card.bronze_coins}}<img src="/static/img/bronze.png"
                                                                                            align="absmiddle"
                                                                                            border="0">{%endif%}</a>
            </div>
            <a href="/notifications" class="fade-header">{%if user_card.notice_count!=0%}<span
                    class="badge badge-danger">{{user_card.notice_count}}</span>{%else%}{{user_card.notice_count}}{%endif%}
                条未读提醒</a></div>
    </div>
    {%else%}
    <div class="card">
        <div class="feed">
            <span class="login-header">可能是南京最懂程序员的IT社区</span>
        </div>
        <div class="feed center">
            <a class="unlogin signup-switch" href="javascript:;">
                <button class="signin-btn btn btn-success">立即加入</button>
            </a>

            <div class="signup-text">
                已注册用户请 &nbsp;<a class="unlogin" href="javascript:;">登录</a>
            </div>
        </div>
    </div>
    {%endif%}
    {%if ad%}
    <div class="card">
        <div class="feed">
            <a href="{{ad.link}}" target="_blank"><img src="{{ad.img}}" border="0" width="250" alt="{{ad.title}}"></a>
        </div>
    </div>
    {%endif%}

    <div class="card">
        <div class="feed">
            <span class="fade-header">今日热议主题</span>
        </div>
        {%for post in hot_posts.list%}
        <div class="feed">
            <div class="feed-up">
                <div class="avatar feed-left">
                    <a href="/u/{{post.author_username}}"><img class="feed-object avatar-24"
                                                               src="{{post.author_avatar}}" alt=""></a>
                </div>
                <div class="infos feed-body">
                    <div class="title feed-heading">
                        <a title="{{post.title}}" href="/p/{{post.id}}">{{post.title}}</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="card">
        <div class="feed">
            <span class="fade-header">热门节点</span>
        </div>
        <div class="feed">
            {%for node in hot_nodes%}
            <a href="/go/{{node.name}}" class="item_node">{{node.name}}</a>
            {%endfor%}
        </div>
    </div>


</div>
{% endblock %}

{% block javascript %}
<script src="/static/jscroll-master/jquery.jscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var active_nav_id = $('.main-tab').attr("active_nav_id");
        $(".nav-item").each(function () {
            var i = $(this).attr('data-id');
            if (isEmpty(active_nav_id)) {
                if (i == 1) {
                    $(this).addClass('nav-actived');
                }
            } else {
                if (Number(active_nav_id) == i) {
                    $(this).addClass('nav-actived');
                }
            }
        });
    });
    $('.card-list').jscroll({
        loadingHtml: '<a href="/bbs?p={{all_posts.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
        contentSelector: '.card-inner',
        nextSelector: 'a.jscroll-next:last',
        autoTrigger: false,
        callback: function (newElems) {
        },
    });
    function isEmpty(val) {
        if (val == null || typeof val == 'undefined' || val == "") {
            return true;
        }
        return false;
    }

    $(document).on('click', '.nav-item', function () {
        var nav_id = $(this).attr('data-id');
        $('.nav-actived').removeClass('nav-actived');
        $(this).addClass('nav-actived');
        $('.subnav-actived').removeClass('subnav-actived');
        window.location.href = "/get/nav/" + nav_id;

//            $(".sub-item").each(function() {
//              var parent_id = $(this).attr('data-parent');
//              if (nav_id == parent_id) {
//                $(this).show();
//              } else {
//                $(this).hide();
//              }
//            });

//            if ($(this).text() == '全部') {
//              $('.card-list').show();
//              $('.nav-card').hide();
//              return;
//            }

//        $.getJSON('/get/nav/' + nav_id, function (data) {
//            console.log("return data ==> " + data);
//            var list_html2 = '';
//            var list = data['list'];
//            for (var i = 0; i < list.length; i++) {
//                //list_html += '<li><a class="video-tag" href="'/p/'+list[i].post_id+''">'+list[i].feed_title+'</a></li>';
//                post = list[i];
//                list_html2 += '   <div class="feed" id="news_div">\
//                                  <div class="feed-up" >\
//                                  <div class="avatar feed-left">\
//                                      <a href="/u/"+post.author_username+"><img class="feed-object avatar-48" src="' + post.author_avatar + '-thumb"></a>\
//                                  </div>\
//                                  <div class="infos feed-body">\
//                                      <div class="title feed-heading">\
//                                      <a title="' + post.title + '" href="/p/' + post.id + '">' + post.title + '</a>\
//                                      </div>\
//                                      <div class="info">\
//                                          <span class="small"><div class="votes"></div><a class="node" href="/go/' + post.node_name + '">' + post.node_name + '</a> &nbsp;•&nbsp; <strong><a href="/u/' + post.author_username + '">' + post.author_username + '</a></strong> &nbsp;•&nbsp; ' + post.updated;
//                if (!isEmpty(post.last_replay)) {
//                    replyHtml = '&nbsp;•&nbsp; 最后回复来自 <strong><a href="/u/' + post.last_reply_username + '">' + post.last_reply_username + '</a></strong></span>';
//                    list_html2 += replyHtml;
//                } else {
//                    list_html2 += '</span>';
//                }
//                list_html2 += '   </div>\
//                                  </div>\
//                                  <div class="count feed-right">\
//                                   <a class="count-num" href="/p/' + post.id + '">' + post.reply_num + '</a>\
//                                  </div>\
//                                  </div>\
//                                  </div>';
//            }
//            var page = data['page'];
//            if (page.next != page.current) {
//                list_html2 += '<div class="next jscroll-next-parent">\
//                                <a href="/get/nav/' + nav_id + '?p='+page.next+'" id="load-more”\
//                               class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>\
//                               </div>';
//
//            } else {
//                list_html2 += '<div class="next jscroll-next-parent">\
//                               <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading"\
//                               style="display: block;">没有更多了</a></div>'
//            }
//            $('.jscroll-added').remove();
//            $('.next.jscroll-next-parent').remove();
//            $("#list_news").children("#news_div").remove();
//            $('#list_news').prepend(list_html2);

//            var page = data['page']
//            if (page.current == page.pages) {
//                $('.nav-load-more a').text('没有更多了');
//            } else {
//                $('.nav-load-more a').text('更多');
//                $('.nav-load-more').attr('data-next', page.next);
//                $('.nav-load-more').attr('data-nav', nav_id);
//            }
//        });

        //$('.card-list').hide();
        //$('.nav-card').show();
        //$('.nav-card .tab-item').text($(this).text());
    });

    $(document).on('click', '.sub-item', function () {
        var nav_id = $(this).attr('data-id');
        $('.subnav-actived').removeClass('subnav-actived');
        $(this).addClass('subnav-actived');

        $.getJSON('/get/nav/' + nav_id, function (data) {
            var list_html = '';
            var list = data['list'];
            for (var i = 0; i < list.length; i++) {
                list_html += '<li><a class="video-tag" href="/p/' + list[i].post_id + '">' + list[i].feed_title + '</a></li>';
            }
            $('.nav-card .tags').html(list_html);

            var page = data['page']
            if (page.current == page.pages) {
                $('.nav-load-more a').text('没有更多了');
            } else {
                $('.nav-load-more a').text('更多');
                $('.nav-load-more').attr('data-next', page.next);
                $('.nav-load-more').attr('data-nav', nav_id);
            }
        });

        $('.card-list').hide();
        $('.nav-card').show();
        $('.nav-card .tab-item').text($(this).text());
    });
</script>
{% endblock %}
