{% extends 'layout.html' %} 

{% block title %}
<title>@{{view_user.username}} 的关注 - 南京程序员第一社区</title>
{% endblock %} 

{% block stylesheet %}
<link rel="stylesheet" href="/static/admin/remark/fonts/web-icons/web-icons.min.css">
{% endblock %} 

{% block main %}
<div class="col-xs-12 col-md-9">
    <div class="card">
    <div id="gh-banner">
        <div id="c4-header-bg-container" class=" has-custom-banner" {%if view_user.cover %}style="background-image: url({{view_user.cover}}-cover)" {%endif%}>
            <div class="hd-banner">
                <div class="hd-banner-image"></div>
            </div>
            <div id="header-links">
                <ul class="about-network-links">
                    <li class="channel-links-item">
                        <a class="sina" href="{{view_user.weibo or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.weibo %}的微博{% else %}还未设置{% endif %}" target="_blank"></a>
                    </li>

                    <li class="channel-links-item">
                        <a class="qzone" href="{{view_user.qzone or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.qzone %}的QQ空间{% else %}还未设置{% endif %}" target="_blank"></a>
                    </li>

                    <li class="channel-links-item">
                        <a class="douban" href="{{view_user.douban or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.douban %}的豆瓣主页{% else %}还未设置{% endif %}" target="_blank"></a>
                    </li>

                    <li class="channel-links-item">
                        <a class="renren" href="{{view_user.renren or 'javascript:;'}}" title="@{{view_user.username}} {%if view_user.renren %}的人人主页{% else %}还未设置{% endif %}" target="_blank"></a>
                    </li>
                </ul>
                {% if view_user.website %}
                <ul class="about-custom-links">
                    <li class="channel-links-item">
                        <a href="{{view_user.website}}" rel="me nofollow" target="_blank" title="{{view_user.website}}" class="about-channel-link yt-uix-redirect-link about-channel-link-with-icon">
                            <img src="/static/img/website.png" class="about-channel-link-favicon" alt="" width="16" height="16">
                            <span class="about-channel-link-text">{{view_user.website}}</span>
                        </a>
                    </li>

                </ul>
                {% endif %}
            </div>

            <a class="channel-header-profile-image-container spf-link" href="/u/{{view_user.username}}">
                <img class="channel-header-profile-image" src="{{ view_user.avatar }}-100px" title="{{view_user.username}}" alt="{{view_user.username}}">
            </a>

            <div class="user-text">
                <div class="user-name">
                    {{view_user.username}}
                    <a class="rank" data-container="body" data-toggle="popover" data-placement="right" data-content="声望：{{view_user.coins}}，获得 赞同 {{view_user.up_num}}，感谢 {{view_user.thank_num}}。"></a>
                </div>
                {%if view_user.sign%}
                <div class="user-description">{{view_user.sign}}</div>
                {%endif%}
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="tag-feed">
        <ul id="type_tab" class="nav nav-tabs" role="tablist" id="myTab">
            <li {%if active_tab=="live" %}class="active" {%endif%}>
                <a href="#live" role="tab" data-toggle="tab">关注直播</a>
            </li>
            <li {%if active_tab=="post" %}class="active" {%endif%}>
                <a href="#post" role="tab" data-toggle="tab">主题收藏</a>
            </li>
            <li {%if active_tab=="followees" %}class="active" {%endif%}>
                <a href="#followees" role="tab" data-toggle="tab">我关注的人</a>
            </li>
            <li {%if active_tab=="followers" %}class="active" {%endif%}>
                <a href="#followers" role="tab" data-toggle="tab">关注我的人</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane {%if active_tab=="live" %}active{%endif%}" id="live">
                <div class="feed">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>项目</th>
                            <th>赛事</th>
                            <th>比赛对阵</th>
                            <th>直播频道</th>
                            <th style="text-align: center;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set t='' %} 
                        {% for live in lives %}
                        {%if live.id%} 
                        {% if t != live.date.strftime('%Y-%m-%d') %} 
                        {% set t = live.date.strftime('%Y-%m-%d') %}
                        <tr class="date-header success">
                            <td>{{live.date|get_weekday}}</td>
                            <td>{{live.date.strftime('%m月%d日')}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">{{live.date.strftime('%H:%M')}}</th>
                            <td>{{live.sport}}</td>
                            <td>{{live.game}}</td>
                            <td><a href="/p/{{live.post_id}}">{{live.team}}</a></td>
                            <td><a href="/p/{{live.post_id}}">{{live.signal_text}}</a></td>
                            <td style="text-align: center;"><a class="text-like wb-heart {%if user_info%}{%if live.follow_id%}followed{%endif%}{%else%}unlogin{%endif%}" href="javascript:void(0)" role="button" data-obj="{{live.id}}"></a></td>
                        </tr>
                        {%endif%}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
            <div class="tab-pane {%if active_tab=="post" %}active{%endif%}" id="post">
                <div class="feed-list2">
                        <div class="feeds-inner2">
                            {% for feed in feeds2.list %}
                            <div class="feed">

                                <div class="feed-up">
                                    <div class="avatar feed-left">
                                        <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.author_username}}" href="/u/{{feed.author_username}}">
                                            <img class="feed-object avatar-48" src="{{feed.author_avatar}}-48px" alt=""></a>
                                    </div>
                                    <div class="infos feed-body">
                                        <div class="title feed-heading">
                                            <a title="{{feed.title}}" href="/p/{{feed.id}}">{{feed.title}}</a>
                                        </div>
                                        <div class="info">
                                            <span class="small"><div class="votes"></div><a class="node" href="/go/{{feed.node_name}}">{{feed.node_name}}</a> &nbsp;•&nbsp; <strong><a href="/u/{{feed.author_username}}">{{feed.author_username}}</a></strong> &nbsp;•&nbsp; {{feed.updated|pretty_date}}{%if feed.last_reply_username%} &nbsp;•&nbsp; 最后回复来自 <strong><a href="/u/{{feed.last_reply_username}}">{{feed.last_reply_username}}</a></strong>{%endif%}</span>
                                        </div>
                                    </div>
                                    <div class="count feed-right">
                                        <a class="count-num" href="/p/{{feed.id}}">{{feed.reply_num}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                        {% if feeds2.page.next!=feeds2.page.current %}
                            <div class="next jscroll-next-parent">
                                <a href="/follows/{{view_user.username}}?p={{feeds2.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                            </div>
                            {% else %}
                            <div class="next jscroll-next-parent">
                                <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
            </div>

            <div class="tab-pane {%if active_tab=="followees" %}active{%endif%}" id="followees">
                <div class="feed-list3">
                    <div class="feeds-inner3">
                        {%for feed in feeds3.list%}
                        <div class="feed">
                                <div class="feed-up">
                                    <div class="avatar feed-left">
                                        <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.username}}" href="/u/{{feed.username}}">
                                            <img class="feed-object avatar-48" src="{{feed.avatar}}-48px" alt=""></a>
                                    </div>
                                    <div class="infos feed-body">
                                        <div class="title feed-heading">
                                            <a class="tipped_ajax_user" data-tipped="/get/user/{{feed.username}}" href="/u/{{feed.username}}">{{feed.username}}</a>
                                        </div>
                                        {% if feed.sign %}
                                            <div class="user-meta-s meta">{{feed.sign}}</div>
                                        {% endif %}
                                        <div class="info">
                                            <span class="small">
                                                <a target="_blank" href="/follows/{{feed.username}}?tab=followers" class="zg-link-gray-normal">{{feed.followers}} 关注者</a>
                                        /
                                        <a target="_blank" href="/u/{{feed.username}}?tab=post" class="zg-link-gray-normal">{{feed.posts}} 主题</a>
                                        /
                                        <a target="_blank" href="/u/{{feed.username}}?tab=reply" class="zg-link-gray-normal">{{feed.comments}} 回复</a>  
                                            </span>
                                        </div>
                                    </div>
                                    <div class="count feed-right">
                                        <a id="followBtn" data-obj="{{feed.uid}}" data-type="u" type="button" class="btn btn-f {% if feed.author_follow_id %} btn-danger {% else %}btn-success{% endif %} {%if user_info == none%}unlogin{%endif%}" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"{%endif%}>{% if feed.author_follow_id %}取消关注{% else %}关注{% endif %}</a>
                                    </div>
                                </div>
                            </div>
                        {%endfor%} {% if feeds3.page.next!=feeds3.page.current %}
                        <div class="next jscroll-next-parent">
                            <a href="/follows/{{view_user.username}}?p={{feeds3.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                        </div>
                        {%else%}
                        <div class="next jscroll-next-parent">
                            <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>

            <div class="tab-pane {%if active_tab=="followers" %}active{%endif%}" id="followers">
                <div class="feed-list4">
                    <div class="feeds-inner4">
                        {%for feed in feeds4.list%}
                        <div class="feed">
                                <div class="feed-up">
                                    <div class="avatar feed-left">
                                        <a class="user-link tipped_ajax_user" data-tipped="/get/user/{{feed.username}}" href="/u/{{feed.username}}">
                                            <img class="feed-object avatar-48" src="{{feed.avatar}}-48px" alt=""></a>
                                    </div>
                                    <div class="infos feed-body">
                                        <div class="title feed-heading">
                                            <a class="tipped_ajax_user" data-tipped="/get/user/{{feed.username}}" href="/u/{{feed.username}}">{{feed.username}}</a>
                                        </div>
                                        {% if feed.sign %}
                                            <div class="user-meta-s meta">{{feed.sign}}</div>
                                        {% endif %}
                                        <div class="info">
                                            <span class="small">
                                                <a target="_blank" href="/follows/{{feed.username}}?tab=followers" class="zg-link-gray-normal">{{feed.followers}} 关注者</a>
                                        /
                                        <a target="_blank" href="/u/{{feed.username}}?tab=post" class="zg-link-gray-normal">{{feed.posts}} 主题</a>
                                        /
                                        <a target="_blank" href="/u/{{feed.username}}?tab=reply" class="zg-link-gray-normal">{{feed.comments}} 回复</a>  
                                            </span>
                                        </div>
                                    </div>
                                    <div class="count feed-right">
                                        <a id="followBtn" data-obj="{{feed.uid}}" data-type="u" type="button" class="btn btn-f {% if feed.author_follow_id %} btn-danger {% else %}btn-success{% endif %} {%if user_info == none%}unlogin{%endif%}" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"{%endif%}>{% if feed.author_follow_id %}取消关注{% else %}关注{% endif %}</a>
                                    </div>
                                </div>
                            </div>
                        {%endfor%} {% if feeds4.page.next!=feeds4.page.current %}
                        <div class="next jscroll-next-parent">
                            <a href="/follows/{{view_user.username}}?p={{feeds4.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                        </div>
                        {%else%}
                        <div class="next jscroll-next-parent">
                            <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class=" col-xs-12 col-md-3">
    <div class="card">
    {%if view_user.uid==user_info.uid%}
    <div class="sidenav container-box">
        <ul class="nav nav-list">
            <li class="nav-item">
                <a href="/u/{{user_info.username}}"> <i class="icon-home"></i>
                    我的主页
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting"> <i class="icon-setting"></i>
                    基本设置
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting/avatar">
                    <i class="icon-avatar"></i>
                    设置头像
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting/cover">
                    <i class="icon-cover"></i>
                    设置封面
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting/password">
                    <i class="icon-password"></i>
                    修改密码
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a href="/social">
                    <i class="icon-social"></i>
                    社交网络
                </a>
            </li>
        </ul>
    </div>
    {%else%}
    <div class="follow-box box">
        <a id="followBtn" data-obj="{{view_user.uid}}" data-type="{{'u'}}" type="button" class="btn {%if follow %}btn-danger {% else %} btn-success {% endif %}btn-follow {%if user_info == none%}unlogin{%endif%}" {%if user_info==none%}data-link="{{link}}" data-link2="{{link2}}"
        {%endif%}>{%if follow%}取消关注 {% else %} 关注 TA{% endif %}</a>
        <div class="promote-link meta">
            <a herf="#">推送问题给更多人</a>
        </div>
    </div>
    {%endif%}
</div>
{%if ad%}
    <div class="card">
        <div class="feed">
            <a href="{{ad.link}}" target="_blank"><img src="{{ad.img}}" border="0" width="250" alt="{{ad.title}}"></a>
        </div>
    </div>
    {%endif%}
</div>
{% endblock %} 

{% block javascript %} 
{%if user_info==none or view_user.cover==none%}
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/trianglify-gh-pages/trianglify.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var t = new Trianglify();
        var x = document.getElementById('c4-header-bg-container');
        var pattern = t.generate(x.offsetWidth, x.offsetHeight);
        x.setAttribute('style', 'background-image: ' + pattern.dataUrl);
    });
</script>
{%endif%}

<script src="/static/jscroll-master/jquery.jscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#type_tab a').click(function(e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $(".summary-text").each(function() {
            var text = $(this);
        var img1 = $(this).find('.mmm-img:eq(0)').attr('src');
        var img2 = $(this).find('.mmm-img:eq(1)').attr('src');
        var img3 = $(this).find('.mmm-img:eq(2)').attr('src');
        
        str = text.text();
        textLeng = 140;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        text.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(this); 
        }
        if (img3) {
            $('<img class="mmm-img" src="'+img2+'">').insertBefore(this);
            $('<img class="mmm-img last-img" src="'+img3+'">').insertBefore(this);  
            text.addClass('summary-text3');     
        } else {
            if (img1) {
                text.addClass('summary-text2');  
            }
        }
        });

        $(".rank").hover(function() {
            $(".rank").popover('show')
        }, function() {
            $(".rank").popover('hide')
        });

        {% if user_info != none %}
        $(document).on('click', '#followBtn', function() {
            var obj_id = $('#followBtn').attr('data-obj');
            var obj_type = $('#followBtn').attr('data-type');

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/follow",
                data: JSON.stringify({
                    obj_id: obj_id,
                    obj_type: obj_type
                }),
                success: function(msg) {
                    if ($('#followBtn').hasClass('btn-success')) {
                        $('#followBtn').removeClass('btn-success');
                        $('#followBtn').addClass('btn-danger');
                        $('#followBtn').text('取消关注');
                    } else {
                        $('#followBtn').removeClass('btn-danger');
                        $('#followBtn').addClass('btn-success');
                        $('#followBtn').text('关注 TA');
                    }
                },
                error: function(msg) {
                    alert("error");
                }
            });
        });

        $(document).on('click', '.thank', function() {
            var thank_id = $(this).attr('data-id');
            var thank_type = $(this).attr('data-type');
            var thank_text = $(this);

            if (thank_text.text() == '已感谢') {
                return;
            }

            $.getJSON('/thank/' + thank_id + '?type=' + thank_type, function(data) {
                if (data.success != 0) {
                    thank_text.text('已感谢');
                    thank_text.removeAttr("href");
                    thank_text.addClass("thanked");
                }
            });
        });

        $(document).on('click', '.report', function() {
            var report_id = $(this).attr('data-id');
            var report_type = $(this).attr('data-type');
            var report_text = $(this);

            if (report_text.text() == '已举报') {
                return;
            }

            $.getJSON('/report/' + report_id + '?type=' + report_type, function(data) {
                if (data.success != 0) {
                    report_text.text('已举报');
                    report_text.removeAttr("href");
                    report_text.addClass("reported");
                }
            });
        }); 
        {% endif %}

        $('.feed-list2').jscroll({
            loadingHtml: '<a href="/u/{{view_user.user_name}}?p={{feeds2.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.feeds-inner2',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
        });

        $(document).on('click', '.video-link', function() {
            var video_id = $(this).attr('data-video');
            $(this).replaceWith('<iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" height="498" width="510" src="//player.youku.com/embed/' + video_id + '" frameborder="0"></iframe>');
        })
    });
</script>
<script src="/static/ScrollToFixed-master/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript">
        $(document).on('click', 'td .text-like', function() {
            var text_like = $(this);
            if ($(this).hasClass('unlogin')) {
                return;
            }
            var obj_id = $(this).attr('data-obj');

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/follow",
                data: JSON.stringify({
                    obj_id: obj_id,
                    obj_type: "l"
                }),
                success: function(msg) {
                    if (text_like.hasClass('followed')) {
                        text_like.removeClass('followed');
                    } else {
                        text_like.addClass('followed');
                    }
                },
                error: function(msg) {
                    alert("error");
                }
            });
        });

        var headers = $('.date-header');
        headers.each(function(i) {
            var header = $(headers[i]);
            var next = headers[i + 1];

            header.scrollToFixed({
                marginTop: 50,
                zIndex: 999
            });
        });
</script>
{% endblock %}
