{% extends 'layout.html' %} 

{% block title %}
<title>首页 - 买买买</title>
{% endblock %} 

{% block stylesheet %}
<link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" />
{% endblock %} 

{% block main %}
<div class="col-xs-12 col-md-9">
<div class="main">
<div class="card">
<div class="nav-tab">
<div class="main-tab">
<a href="" class="tab-item">直播</a>
<a href="" class="tab-item">全部</a>
<a href="" class="tab-item actived">NBA</a>
<a href="" class="tab-item">CBA</a>
<a href="" class="tab-item">国际足球</a>
<a href="" class="tab-item">中国足球</a>
<a href="" class="tab-item">赛车</a>
<a href="" class="tab-item">网球</a>
<a href="" class="tab-item">健身</a>
</div>
<div class="sub-tab">
<a href="" class="sub-item">湖人</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">火箭</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">骑士</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">快船</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">勇士</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">老鹰</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">马刺</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">小牛</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">雷霆</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">热火</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">公牛</a>
 &nbsp; &nbsp; 
<a href="" class="sub-item">篮网</a>
</div>
</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/images.jpeg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">05月20日 亚冠1/8决赛首回合</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">中国足球</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">andybest</a></strong> &nbsp;•&nbsp; 1 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">momo5269</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/ff">3</a>
  </div>
  </div>
  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">阿尔萨德 - 莱赫维亚</a></li>
  <li><a class="video-tag" href="/">广州恒大 - 水原三星</a></li>
  <li><a class="video-tag" href="/">北京国安 - 鹿岛鹿角</a></li>
</ul>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/7bcd64a60ab5301c038bdf3b1d3a4f97_crop_north.png-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">本赛季十大隔扣：恩尼斯飞天骑扣,威金斯隔扣阿西克</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">NBA</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">hhhuu</a></strong> &nbsp;•&nbsp; 1 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">fafgf</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/ff">7</a>
  </div>
  </div>
  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">骑士季后赛首轮&次轮15佳球</a></li>
  <li><a class="video-tag" href="/">本赛季十大隔扣：恩尼斯飞天骑扣</a></li>
  <li><a class="video-tag" href="/"> 詹皇东决最新震撼预告片</a></li>
</ul>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/MSN-logo-442x442.png-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">巴萨历史最强攻击组合MSN（梅西&苏亚雷斯&内马尔）组合2015赛季20大进球</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">国际足球</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">xilei</a></strong> &nbsp;•&nbsp; 1 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">gggli</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/hh">2</a>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/Img384994476.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">15年1月21日库里22分10助大战哈登33分6助回顾</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">NBA</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">xsoljddd</a></strong> &nbsp;•&nbsp; 1 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">css</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/hh">2</a>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/20060927000202008fb.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">还是那熟悉的味道 小罗背身脚后跟妙传队友 外星人最新视频集锦</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">国际足球</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">xilsei</a></strong> &nbsp;•&nbsp; 21 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">vfdfvdf</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/hh">2</a>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/119660859.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">刺激！火箭vs快船系列赛七场大战十佳球</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">NBA</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">xixxxlei</a></strong> &nbsp;•&nbsp; 10 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">ggglssssi</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/hh">2</a>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/b2b13867.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">【中文字幕】霍华德谈胜快船：幸亏没像他们那样被逆转</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">国际足球</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">xilei</a></strong> &nbsp;•&nbsp; 1 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">gggli</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/hh">2</a>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/1-1404112314140-L.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">05月18日 天下足球-足坛十大戴面具庆祝</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">NBA</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">hhhuu</a></strong> &nbsp;•&nbsp; 1 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">fafgf</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/ff">7</a>
  </div>
  </div>
  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">05月18日 天下足球 完整版 </a></li>
  <li><a class="video-tag" href="/">卡维德斯领衔足坛十大戴面具庆祝</a></li>
  <li><a class="video-tag" href="/"> 托马斯-穆勒：我愿做一个开心果 </a></li>
  <li><a class="video-tag" href="/">红军队魂杰拉德惜别安菲尔德</a></li>
  <li><a class="video-tag" href="/">路索倒钩破门领衔一周十佳进球 </a></li>
</ul>
  </div>


</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-48" src="http://avati.qiniudn.com/20061018201001f08c5.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">哈维本周四将召开新闻发布会 正式宣布今夏离队</a>
    </div>
    <div class="info">
      <span class="small"><div class="votes"></div><a class="node" href="/go/qna">国际足球</a> &nbsp;•&nbsp; <strong><a href="/member/andybest">xilei</a></strong> &nbsp;•&nbsp; 1 分钟前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="/member/momo5269">gggli</a></strong></span>
    </div>
  </div>
  <div class="count feed-right">
      <a class="count-num" href="/hh">2</a>
  </div>
  </div>

</div>

<div class="next jscroll-next-parent">
                <a href="/?p=2" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
            </div>
</div>

</div>

<div class=" col-xs-12 col-md-3">

</div>
{% endblock %} 

{% block javascript %} 

{% endblock %}
