{% extends 'layout.html' %} {% block title %}
<title>@{{user_info.username}} 的消息 - 南京程序员第一社区</title>
{% endblock %} {% block main %}
<div class="col-xs-12 col-md-9">


    <div class="card">
        <div class="nav-tab">
            <div class="main-tab">
                <i class="icon-notice"></i>
                <a href="" class="tab-item">我的消息</a>
                <div class="fr f12" style="margin-top: 3px;"><span class="snow">总共收到&nbsp;</span><strong class="gray">{{all_count}}</strong><span class="snow">&nbsp;条消息</span></div>
            </div>
        </div>

            <div class="feed-list notice-feeds">
                <div class="feeds-inner">
                    {%for notice in notices.list%} 
                    {%if notice.notice_type==1 or notice.notice_type==4 or notice.notice_type==5 or notice.notice_type==8 or notice.notice_type==11 or notice.notice_type==12 or notice.notice_type==7 or notice.notice_type==14%}
                    <div class="feed">
                        <div class="feed-up">
                            <div class="avatar feed-left">
                                <a href="/u/{notice.username}}"><img class="feed-object avatar-24" src="{{notice.avatar}}?imageView2/1/w/48/h/48"></a>
                            </div>
                            <div class="infos feed-body">
                                <div class="info">
                                    <span class="small"><strong><a href="/u/{{notice.username}}">{{notice.username}}</a></strong> {{notice.notice_text}} <a title="{{notice.post_title}}" href="/p/{{notice.post_id}}#{{notice.reply_id}}">{{notice.post_title}}</a> {{notice.created|pretty_date}}</span>
                                </div>
                                <div class="summary">
                                    <div class="content-text hidden">{{notice.reply_content|index_content_process}}</div>
                                    <div class="summary-text"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {%endif%} 
                    {%if notice.notice_type==2 or notice.notice_type==3 or notice.notice_type==9 or notice.notice_type==10 or notice.notice_type==16 or notice.notice_type==17%}
                    <div class="feed">
                        <div class="feed-up">
                            <div class="avatar feed-left">
                                <a href="/u/{notice.username}}"><img class="feed-object avatar-24" src="{{notice.avatar}}?imageView2/1/w/48/h/48"></a>
                            </div>
                            <div class="infos feed-body">
                                <div class="info">
                                    <span class="small"><strong><a href="/u/{{notice.username}}">{{notice.username}}</a></strong> {{notice.notice_text}} <a title="{{notice.post_title}}" href="/p/{{notice.post_id}}">{{notice.post_title}}</a> {{notice.created|pretty_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%} 
                    {%if notice.notice_type==6 or notice.notice_type==13%}
                    <div class="feed">
                        <div class="feed-up">
                            <div class="avatar feed-left">
                                <a href="/u/{notice.username}}"><img class="feed-object avatar-24" src="{{notice.avatar}}?imageView2/1/w/48/h/48"></a>
                            </div>
                            <div class="infos feed-body">
                                <div class="info">
                                    <span class="small"><strong><a href="/u/{{notice.username}}">{{notice.username}}</a></strong> {{notice.notice_text}} <a title="{{notice.post_title}}" href="/p/{{notice.post_id}}">{{notice.post_title}}</a> {{notice.created|pretty_date}}</span>
                                </div>
                                <div class="summary">
                                    <div class="content-text hidden">{{notice.post_content|index_content_process}}</div>
                                    <div class="summary-text"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%} 
                    {%if notice.notice_type==15%}
                    <div class="feed">
                        <div class="feed-up">
                            <div class="avatar feed-left">
                                <a href="/u/{notice.username}}"><img class="feed-object avatar-24" src="{{notice.avatar}}?imageView2/1/w/48/h/48"></a>
                            </div>
                            <div class="infos feed-body">
                                <div class="info">
                                    <span class="small"><strong><a href="/u/{{notice.username}}">{{notice.username}}</a></strong> {{notice.notice_text}} {{notice.created|pretty_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%} 
                    {%endfor%} 
                    {% if notices.page.next!=notices.page.current %}
                    <div class="next jscroll-next-parent">
                        <a href="/notifications?p={{notices.page.next}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
                    </div>
                    {%else%}
                    <div class="next jscroll-next-parent">
                        <a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
</div>

<div class=" col-xs-12 col-md-3">
{%if user_info%}
    <div class="card">
        <div class="cell">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td width="48" valign="top">
                            <a href="/u/{{user_info.username}}"><img src="{{user_info.avatar}}" class="avatar" border="0" align="default" style="max-width: 48px; max-height: 48px;"></a>
                        </td>
                        <td width="10" valign="top"></td>
                        <td width="auto" align="left"><span class="bigger"><a href="/u/{{user_info.username}}">{{user_info.username}}</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="sep10"></div>
            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top: 5px;margin-bottom: 5px;">
                <tbody>
                    <tr>
                        <td width="33%" align="center"><a href="/follows/{{user_info.username}}?tab=live" class="dark" style="display: block;"><span class="bigger">{{user_card.live_count}}</span><div class="sep3"></div><span class="fade-header">关注直播</span></a></td>
                        <td width="34%" style="border-left: 1px solid rgba(100, 100, 100, 0.1); border-right: 1px solid rgba(100, 100, 100, 0.1);" align="center"><a href="/follows/{{user_info.username}}?tab=post" class="dark" style="display: block;"><span class="bigger">{{user_card.follow_posts}}</span><div class="sep3"></div><span class="fade-header">主题收藏</span></a></td>
                        <td width="33%" align="center"><a href="/follows/{{user_info.username}}?tab=followees" class="dark" style="display: block;"><span class="bigger">{{user_card.follow_users}}</span><div class="sep3"></div><span class="fade-header">特别关注</span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="inner">
            <div class="fr" id="money">
                    <a href="/balance" class="balance_area" alt="{{user_card.gold_coins}} 金币，{{user_card.silver_coins}} 银币，{{user_card.bronze_coins}} 铜币">{%if user_card.gold_coins!=0%}{{user_card.gold_coins}} <img src="/static/img/gold.png" align="absmiddle" border="0" style="padding-bottom: 2px;"> {%endif%}{%if user_card.silver_coins!=0%}{{user_card.silver_coins}} <img src="/static/img/silver.png" align="absmiddle" border="0" style="padding-bottom: 2px;"> {%endif%}{%if user_card.bronze_coins!=0%}{{user_card.bronze_coins}}<img src="/static/img/bronze.png" align="absmiddle" border="0">{%endif%}</a>
                </div>
            <a href="/notifications" class="fade-header">{%if user_card.notice_count!=0%}<span class="badge badge-danger">{{user_card.notice_count}}</span>{%else%}{{user_card.notice_count}}{%endif%} 条未读提醒</a></div>
    </div>
    {%else%}
    <div class="card">
      <div class="feed">
            <span class="login-header">可能是南京最懂程序员的IT社区</span>
        </div>
      <div class="feed center">
        <a class="unlogin signup-switch" href="javascript:;">
                                <button class="signin-btn btn btn-success">立即加入</button>
        </a>
      
      <div class="signup-text">
      已注册用户请 &nbsp;<a class="unlogin" href="javascript:;">登录</a>
      </div>
    </div>
    </div>
    {%endif%}
    {%if ad%}
    <div class="card">
        <div class="feed">
            <a href="{{ad.link}}" target="_blank"><img src="{{ad.img}}" border="0" width="250" alt="{{ad.title}}"></a>
        </div>
    </div>
    {%endif%}
</div>

<div id="inviteJoinModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">邀请朋友加入</h4>
            </div>
            <div class="modal-body">
                <div class="invite-email input-group">
                    <input id="inviteEmailInput" type="text" class="form-control" placeholder="输入 email 邀请朋友加入南京程序员第一社区">
                    <span class="input-group-btn">
                        <button id="inviteEmail" class="btn btn-default" type="button" data-post="">发送邀请</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block javascript %}
<script src="/static/jscroll-master/jquery.jscroll.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".content-text").each(function() {
        var content = $(this);
        if (content.hasClass('contented')) {
            return;
        }
        var summary = $(this).parent().find('.summary-text');
        var img1 = content.find('.mmm-img:eq(0)').attr('src');
        var img2 = content.find('.mmm-img:eq(1)').attr('src');
        var img3 = content.find('.mmm-img:eq(2)').attr('src');
        
        var str = content.text();
        var textLeng = 140;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        summary.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(summary); 
        }
        if (img3) {
            $('<img class="mmm-img" src="'+img2+'">').insertBefore(summary);
            $('<img class="mmm-img last-img" src="'+img3+'">').insertBefore(summary);  
            summary.addClass('summary-text3');     
        } else {
            if (img1) {
                summary.addClass('summary-text2');  
            }
        }
        content.addClass('contented');
    });

        $(document).on('click', '#inviteEmail', function() {
            var email = $('#inviteEmailInput').val();

            $.getJSON('/invite/to/join?email=' + email, function(data) {
                if (data.success != 0) {
                    $('#inviteEmailInput').val('');
                    $('#inviteJoinModal').modal('hide');
                    alert('邀请发送成功!');
                } else {
                    alert('邀请发送失败!');
                }
            });
        });

        $(document).on('click', '#post-tab', function() {
            $.getJSON('/update/user/view/follow', function(data) {
                if (data.success != 0) {
                    $(".notice-badge").hide();
                    $(".actived .message-badge").hide();
                } else {}
            });
        });

        $('.feed-list').jscroll({
            loadingHtml: '<a href="/notifications?p={{notices.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.feeds-inner',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
            callback: function(newElems) {
                $(".content-text").each(function() {
        var content = $(this);
        if (content.hasClass('contented')) {
            return;
        }
        var summary = $(this).parent().find('.summary-text');
        var img1 = content.find('.mmm-img:eq(0)').attr('src');
        var img2 = content.find('.mmm-img:eq(1)').attr('src');
        var img3 = content.find('.mmm-img:eq(2)').attr('src');
        
        var str = content.text();
        var textLeng = 140;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        summary.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(summary); 
        }
        if (img3) {
            $('<img class="mmm-img" src="'+img2+'">').insertBefore(summary);
            $('<img class="mmm-img last-img" src="'+img3+'">').insertBefore(summary);  
            summary.addClass('summary-text3');     
        } else {
            if (img1) {
                summary.addClass('summary-text2');  
            }
        }
        content.addClass('contented');
    });
            },
        });

        $('.feed-list2').jscroll({
            loadingHtml: '<a href="/notifications?p={{notices.page.next}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.feeds-inner2',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
            callback: function(newElems) {
                $(".content-text").each(function() {
        var content = $(this);
        if (content.hasClass('contented')) {
            return;
        }
        var summary = $(this).parent().find('.summary-text');
        var img1 = content.find('.mmm-img:eq(0)').attr('src');
        var img2 = content.find('.mmm-img:eq(1)').attr('src');
        var img3 = content.find('.mmm-img:eq(2)').attr('src');
        
        var str = content.text();
        var textLeng = 140;
        if (str.length > textLeng) {
            str = str.substring(0, textLeng) + "...";
        }
        summary.html(str);
        if (img1) {
            $('<img class="mmm-img" src="'+img1+'">').insertBefore(summary); 
        }
        if (img3) {
            $('<img class="mmm-img" src="'+img2+'">').insertBefore(summary);
            $('<img class="mmm-img last-img" src="'+img3+'">').insertBefore(summary);  
            summary.addClass('summary-text3');     
        } else {
            if (img1) {
                summary.addClass('summary-text2');  
            }
        }
        content.addClass('contented');
    });
            },
        });

        $(document).on('click', '.video-link', function() {
            var video_id = $(this).attr('data-video');
            $(this).replaceWith('<iframe webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" height="498" width="510" src="//player.youku.com/embed/' + video_id + '" frameborder="0"></iframe>');
        });
    });
</script>
{% endblock %}
