{% extends 'layout.html' %} 

{% block title %}
<title>所有标签 - 买买买</title>
{% endblock %} 

{% block main %}
<div class="col-xs-12 col-md-9">
    {% for category in categorys %} 
    {% if category.tag_num>0 %}
    <div class="bs-docs-section">
        <h2>{{category.name}}</h2>
        <div id="{{category.id}}" class="anchor"></div>
        <ul class="tag-ranking-list">
            {% for tag in tags %} 
            {% if tag.category==category.id %}
            <li>
                <a href="/t/{{tag.name}}" class="tag {%if tag.thumb%}tag-img{%endif%} tipped_ajax_tag" data-tipped="/get/tag/{{tag.name}}" {%if tag.thumb%}style="background-image: url({{tag.thumb}}-icon);{%endif%}">{{tag.name}}</a>
            </li>
            {% endif %} 
            {% endfor %}
        </ul>
    </div>
    {% endif %} 
    {% endfor %}
</div>

<div class="col-xs-12 col-md-3">
    <div id="myScrollspy" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
        <ul class="nav bs-docs-sidenav" data-spy="affix" data-offset-top="125">
            {% for category in categorys %} 
            {% if category.tag_num>0 %}
            <li {% if category==categorys[0] %}class="active" {% endif %}>
                <a href="#{{category.id}}">{{category.name}}</a>
            </li>
            {% endif %} 
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
