<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>找回密码</title>

	<link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.min.css">

	<link href="/static/css/login.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div id="login">

		<div class="login-header">

		<a class="login-logo" href="/"></a>
	</div>

		<form action="" method="POST">

			<fieldset>
				{{ errors|dump_errors }}
				<p>
					<label for="username">用户名</label>
				</p>
				<p>
					<input type="text" id="username" name="username" value="username" onBlur="if(this.value=='')this.value='username'" onFocus="if(this.value=='username')this.value=''"></p>
				<!-- JS because of IE support; better: placeholder="username" -->

				<p>
					<label for="email">邮箱</label>
				</p>
				<p>
					<input type="email" id="email" name="email" value="mail@address.com" onBlur="if(this.value=='')this.value='mail@address.com'" onFocus="if(this.value=='mail@address.com')this.value=''"></p>
				<!-- JS because of IE support; better: placeholder="mail@address.com" -->

				<p>
					<input type="submit" value="找回密码"></p>

			</fieldset>
			{{ xsrf_form_html() }}
		</form>

	</div>
	<!-- end login -->

</body>
</html>