{% extends 'layout.html' %}

{% block main %}
<div class="col-xs-12 col-md-9">
<div class="card setting">
    <div class="setting-password-card">
        <form class="form-horizontal" action='' method="POST">
            <fieldset>
                <div id="legend">
                    <legend class="setting-title">修改密码</legend>
                </div>
                {{ errors|dump_errors }}
                <div class="save-btn">
                    <input type="submit" id="qPostBtn" class="btn btn-sm btn-success" value="保存改动">{{ xsrf_form_html() }}</div>
                <div class="form-group">
                    <label class="control-label" for="password_old">旧密码</label>
                    <input type="password" id="password_old" name="password_old" placeholder="" class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">新密码</label>
                    <input type="password" id="password" name="password" placeholder="" class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password_confirm">新密码(确认)</label>
                    <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control">
                </div>

            </fieldset>
            {{ xsrf_form_html() }}
        </form>
    </div>
    </div>
</div>

<div class=" col-xs-12 col-md-3">
<div class="card">
    <div class="sidenav container-box">
        <ul class="nav nav-list">
            <li class="nav-item">
                <a href="/u/{{user_info.username}}"> <i class="icon-home"></i>
                    我的主页
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting"> <i class="icon-setting"></i>
                    基本设置
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting/avatar">
                    <i class="icon-avatar"></i>
                    设置头像
                </a>
            </li>

            <li class="nav-item">
                <a href="/setting/cover">
                    <i class="icon-cover"></i>
                    设置封面
                </a>
            </li>
            <li class="nav-item">
                <a href="/setting/password">
                    <i class="icon-password"></i>
                    修改密码
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a href="/social">
                    <i class="icon-social"></i>
                    社交网络
                </a>
            </li>
        </ul>
    </div>
    </div>
</div>
{% endblock %}